main {
    display: flex;
    justify-content: center;
    align-items: center;

    
    height: calc(100vh - 6rem);
}

main::before {
    content: '';

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    background: linear-gradient(to bottom, #05060C 0%, #05060C 70%, #000000 100%);
}

main > #hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    transform: translateY(-7rem);

    height: fit-content;
}

main > #hero > img {
    width: 20rem;
}

main > #hero > p {
    text-align: center;
    font-size: 1.5rem;

    color: #A1A1A1;
}

main > #hero > span {
    display: inline-block;
    height: 2rem;
}

main > #hero > #apply {
    padding: 1rem 4rem;

    border: .1rem rgba(255, 255, 255, .4) solid;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .2);

    backdrop-filter: blur(2rem);
    
    text-decoration: none;
    color: white;
}

main > video {
    position: absolute;
    left: 0;
    top: 50vh;

    width: 100%;

    z-index: -1;

    filter: brightness(50%);
}

#about {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 10%;

    width: 100%;
}

#about > div {
    margin-top: 15rem;
}

#about > img {
    margin-top: 15rem;
    align-self: center;
}

section p {
    font-size: 1.2rem;
    color: #929292;
}

.fullsect, .thisIsSard  {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.fullsect h1, .fullsect p, .thisIsSard h1 {
    text-align: center;
}

.fullsect h1 {
    margin-bottom: 1rem;
}

.fullsect p {
    margin-top: 0;
    font-weight: 500;
    font-size: 2rem;
}

.fullsect img {
    margin-top: 5rem;
    width: 20rem;
}

.thisIsSard {
    justify-content: center;
    height: 100vh;
}

.thisIsSard h1 {
    color: black;
}

#faq {
    width: 100%;
    padding-bottom: 0;
}

#faq * {
    color: black;
}

.separator {
    display: block;
    height: 500px;
}